<div class="editor-toolbar" *ngIf="document$ | async as document">
  <div class="editor-toolbar__group editor-toolbar__group--widgets">
    <span class="editor-toolbar__label">Add widget</span>
    <button type="button" (click)="addWidget('text')">Text</button>
    <button type="button" (click)="addWidget('chart')">Chart</button>
    <button type="button" (click)="addWidget('table')">Table</button>
    <button type="button" (click)="addWidget('image')">Image</button>
  </div>

  <app-undo-redo-controls></app-undo-redo-controls>

  <app-zoom-controls></app-zoom-controls>

  <div class="editor-toolbar__group editor-toolbar__group--export">
    <span class="editor-toolbar__label">Document</span>
    <button
      type="button"
      class="editor-toolbar__button editor-toolbar__button--export"
      (click)="exportDocument()"
      title="Export document as JSON file"
    >
      <span class="editor-toolbar__button-icon">⬇</span>
      <span class="editor-toolbar__button-text">Export</span>
    </button>
    <button
      type="button"
      class="editor-toolbar__button editor-toolbar__button--import"
      (click)="triggerImport()"
      title="Import document from JSON file"
    >
      <span class="editor-toolbar__button-icon">⬆</span>
      <span class="editor-toolbar__button-text">Import</span>
    </button>
    <button
      type="button"
      class="editor-toolbar__button editor-toolbar__button--pdf"
      (click)="downloadPDF()"
      title="Download document as PDF"
    >
      <span class="editor-toolbar__button-icon">📄</span>
      <span class="editor-toolbar__button-text">Download PDF</span>
    </button>
  </div>
</div>

