<div class="editor-toolbar" *ngIf="document$ | async as document">
  <div class="editor-toolbar__group editor-toolbar__group--document-name">
    <div class="editor-toolbar__document-name">
      <ng-container *ngIf="!isEditingDocumentName; else documentNameInput">
        <span 
          class="editor-toolbar__document-name-label"
          (click)="startEditingDocumentName()"
          [title]="document.title || 'Untitled Document'"
        >
          {{ document.title || 'Untitled Document' }}
        </span>
        <button
          type="button"
          class="editor-toolbar__document-name-edit"
          (click)="startEditingDocumentName()"
          title="Edit document name"
        >
          <span class="material-symbols-outlined">edit</span>
        </button>
      </ng-container>
      <ng-template #documentNameInput>
        <input
          type="text"
          class="editor-toolbar__document-name-input"
          [value]="documentNameValue"
          (input)="documentNameValue = $any($event.target).value"
          (blur)="saveDocumentName()"
          (keydown.enter)="saveDocumentName()"
          (keydown.escape)="cancelEditingDocumentName()"
          #documentNameInputRef
        />
      </ng-template>
    </div>
  </div>

  <div class="editor-toolbar__group editor-toolbar__group--widgets">
    <span class="editor-toolbar__label">Add widget</span>
    <button 
      type="button" 
      class="editor-toolbar__icon-button"
      (click)="addWidget('text')"
      title="Add Text Widget"
    >
      <span class="material-symbols-outlined">text_fields</span>
    </button>
    <button 
      type="button" 
      class="editor-toolbar__icon-button"
      (click)="addWidget('chart')"
      title="Add Chart Widget"
    >
      <span class="material-symbols-outlined">bar_chart</span>
    </button>
    <button 
      type="button" 
      class="editor-toolbar__icon-button"
      (click)="addWidget('table')"
      title="Add Table Widget"
    >
      <span class="material-symbols-outlined">table</span>
    </button>
    <button 
      type="button" 
      class="editor-toolbar__icon-button"
      (click)="addWidget('image')"
      title="Add Image Widget"
    >
      <span class="material-symbols-outlined">image</span>
    </button>
  </div>

  <app-undo-redo-controls></app-undo-redo-controls>

  <app-zoom-controls></app-zoom-controls>

  <app-text-widget-color-picker></app-text-widget-color-picker>

  <div class="editor-toolbar__group editor-toolbar__group--export">
    <span class="editor-toolbar__label">Document</span>
    <button
      type="button"
      class="editor-toolbar__button editor-toolbar__button--export"
      (click)="exportDocument()"
      title="Export document as JSON file"
    >
      <span class="material-symbols-outlined">download</span>
    </button>
    <button
      type="button"
      class="editor-toolbar__button editor-toolbar__button--import"
      (click)="triggerImport()"
      title="Import document from JSON file"
    >
      <span class="material-symbols-outlined">upload</span>
    </button>
    <button
      type="button"
      class="editor-toolbar__button editor-toolbar__button--pdf"
      (click)="downloadPDF()"
      title="Download document as PDF"
    >
      <span class="material-symbols-outlined">picture_as_pdf</span>
    </button>
  </div>
</div>

