<div 
  class="table-widget" 
  #tableContainer
  [class.table-widget--editing]="editing"
>
  <table class="table-widget__table">
    <tbody>
      <tr 
        *ngFor="let row of rows; let rowIndex = index; trackBy: trackByRowId"
        class="table-widget__row"
      >
        <td 
          *ngFor="let rc of getRenderableRowCells(rowIndex); trackBy: trackByRenderableCell"
          class="table-widget__cell"
          [class.table-widget__cell--selected]="isCellSelected(rowIndex, rc.colIndex)"
          [attr.data-cell]="rowIndex + '-' + rc.colIndex"
          [attr.rowspan]="rc.cell.merge?.rowSpan || null"
          [attr.colspan]="rc.cell.merge?.colSpan || null"
          (mousedown)="onCellMouseDown($event, rowIndex, rc.colIndex)"
          (mouseenter)="onCellMouseEnter($event, rowIndex, rc.colIndex)"
        >
          <ng-container
            *ngTemplateOutlet="cellRenderer; context: { cell: rc.cell, rowIndex: rowIndex, cellIndex: rc.colIndex, path: '' }"
          ></ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #cellRenderer let-cell="cell" let-rowIndex="rowIndex" let-cellIndex="cellIndex" let-path="path">
  <ng-container *ngIf="!cell.split; else splitRenderer">
    <div
      class="table-widget__cell-content"
      [class.table-widget__cell-content--subcell]="path !== ''"
      [attr.data-leaf]="composeLeafId(rowIndex, cellIndex, path)"
      contenteditable="true"
      tabindex="0"
      [innerHTML]="cell.contentHtml"
      [style.text-align]="cell.style?.textAlign || 'left'"
      [style.vertical-align]="cell.style?.verticalAlign || 'top'"
      (focus)="onCellFocus($event, rowIndex, cellIndex, path)"
      (blur)="onCellBlur($event, rowIndex, cellIndex, path)"
      (input)="onCellInput($event, rowIndex, cellIndex, path)"
      (keydown)="onCellKeydown($event, rowIndex, cellIndex, path)"
    ></div>
  </ng-container>

  <ng-template #splitRenderer>
    <div
      class="table-widget__split-grid"
      [style.gridTemplateColumns]="'repeat(' + cell.split!.cols + ', 1fr)'"
      [style.gridTemplateRows]="'repeat(' + cell.split!.rows + ', 1fr)'"
    >
      <div
        *ngFor="let child of cell.split!.cells; let i = index; trackBy: trackByCellId"
        class="table-widget__sub-cell"
        [class.table-widget__sub-cell--selected]="isLeafSelected(rowIndex, cellIndex, appendPath(path, i))"
      >
        <ng-container
          *ngTemplateOutlet="cellRenderer; context: { cell: child, rowIndex: rowIndex, cellIndex: cellIndex, path: appendPath(path, i) }"
        ></ng-container>
      </div>
    </div>
  </ng-template>
</ng-template>
