<div 
  class="table-widget" 
  #tableContainer
  [class.table-widget--editing]="editing"
>
  <table class="table-widget__table">
    <tbody>
      <tr 
        *ngFor="let row of rows; let rowIndex = index; trackBy: trackByRowId"
        class="table-widget__row"
      >
        <td 
          *ngFor="let cell of row.cells; let cellIndex = index; trackBy: trackByCellId"
          class="table-widget__cell"
          [class.table-widget__cell--selected]="isCellSelected(rowIndex, cellIndex)"
          [attr.data-cell]="rowIndex + '-' + cellIndex"
          (mousedown)="onCellMouseDown($event, rowIndex, cellIndex)"
          (mouseenter)="onCellMouseEnter($event, rowIndex, cellIndex)"
        >
          <ng-container *ngIf="!cell.split; else splitCell">
            <div
              class="table-widget__cell-content"
              contenteditable="true"
              [innerHTML]="cell.contentHtml"
              [style.text-align]="cell.style?.textAlign || 'left'"
              [style.vertical-align]="cell.style?.verticalAlign || 'top'"
              (focus)="onCellFocus($event, rowIndex, cellIndex)"
              (blur)="onCellBlur($event, rowIndex, cellIndex)"
              (input)="onCellInput($event, rowIndex, cellIndex)"
              (keydown)="onCellKeydown($event, rowIndex, cellIndex)"
            ></div>
          </ng-container>

          <ng-template #splitCell>
            <div
              class="table-widget__split-grid"
              [style.gridTemplateColumns]="'repeat(' + cell.split!.cols + ', 1fr)'"
              [style.gridTemplateRows]="'repeat(' + cell.split!.rows + ', 1fr)'"
            >
              <div
                *ngFor="let subCell of cell.split!.cells; let subIndex = index; trackBy: trackByCellId"
                class="table-widget__sub-cell"
              >
                <div
                  class="table-widget__cell-content table-widget__cell-content--subcell"
                  contenteditable="true"
                  [innerHTML]="subCell.contentHtml"
                  [style.text-align]="subCell.style?.textAlign || 'left'"
                  [style.vertical-align]="subCell.style?.verticalAlign || 'top'"
                  (focus)="onCellFocus($event, rowIndex, cellIndex, subIndex)"
                  (blur)="onCellBlur($event, rowIndex, cellIndex, subIndex)"
                  (input)="onCellInput($event, rowIndex, cellIndex, subIndex)"
                  (keydown)="onCellKeydown($event, rowIndex, cellIndex, subIndex)"
                ></div>
              </div>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

