<div class="document-download-menu">
  <button
    type="button"
    class="document-download-menu__button"
    [class.document-download-menu__button--disabled]="disabled"
    (click)="downloadPdf()"
    [disabled]="disabled"
    [title]="buttonTitle()"
  >
    <app-icon name="picture_as_pdf" [size]="18"></app-icon>
  </button>
  <button
    type="button"
    class="document-download-menu__button"
    [class.document-download-menu__button--disabled]="disabled"
    (click)="downloadDocx()"
    [disabled]="disabled"
    [title]="docxButtonTitle()"
    style="margin-left: 4px;"
  >
    <app-icon name="file_docx" [size]="18"></app-icon>
  </button>
  <button
    type="button"
    class="document-download-menu__button"
    [class.document-download-menu__button--disabled]="disabled"
    (click)="downloadPptx()"
    [disabled]="disabled"
    [title]="pptxButtonTitle()"
    style="margin-left: 4px;"
  >
    <app-icon name="file_pptx" [size]="18"></app-icon>
  </button>
</div>



