<div class="editor-toolbar">
  <div class="editor-toolbar__group editor-toolbar__group--document-name">
    <div class="editor-toolbar__document-name">
      <ng-container *ngIf="!isEditingDocumentName; else documentNameInput">
        <span 
          class="editor-toolbar__document-name-label"
          (click)="startEditingDocumentName()"
          [title]="documentTitle() || 'Untitled Document'"
        >
          {{ documentTitle() || 'Untitled Document' }}
        </span>
        <button
          type="button"
          class="editor-toolbar__document-name-edit"
          (click)="startEditingDocumentName()"
          title="Edit document name"
        >
          <app-icon name="edit" [size]="20"></app-icon>
        </button>
      </ng-container>
      <ng-template #documentNameInput>
        <input
          type="text"
          class="editor-toolbar__document-name-input"
          [value]="documentNameValue"
          (input)="documentNameValue = $any($event.target).value"
          (blur)="saveDocumentName()"
          (keydown.enter)="saveDocumentName()"
          (keydown.escape)="cancelEditingDocumentName()"
          #documentNameInputRef
        />
      </ng-template>
    </div>

    <div class="editor-toolbar__save-indicator" aria-live="polite">
      <ng-container [ngSwitch]="displaySaveState()">
        <span
          *ngSwitchCase="'saving'"
          class="editor-toolbar__save-indicator-inner"
          title="Saving..."
          aria-label="Saving"
        >
          <app-icon name="sync" [size]="20" class="editor-toolbar__save-indicator-icon editor-toolbar__save-indicator-icon--spinning"></app-icon>
          <span class="editor-toolbar__save-indicator-text">Saving</span>
        </span>
        <span
          *ngSwitchCase="'saved'"
          class="editor-toolbar__save-indicator-inner editor-toolbar__save-indicator-inner--clickable"
          (click)="saveNow()"
          (keydown)="onSaveIndicatorKeydown($event)"
          title="All changes saved (click to save now)"
          aria-label="Save now"
          role="button"
          tabindex="0"
        >
          <app-icon name="check_circle" [size]="20" class="editor-toolbar__save-indicator-icon editor-toolbar__save-indicator-icon--saved"></app-icon>
          <span class="editor-toolbar__save-indicator-text">Saved</span>
        </span>
        <span
          *ngSwitchDefault
          class="editor-toolbar__save-indicator-inner editor-toolbar__save-indicator-inner--clickable"
          (click)="saveNow()"
          (keydown)="onSaveIndicatorKeydown($event)"
          title="All changes saved (click to save now)"
          aria-label="Save now"
          role="button"
          tabindex="0"
        >
          <app-icon name="cloud_done" [size]="20" class="editor-toolbar__save-indicator-icon editor-toolbar__save-indicator-icon--idle"></app-icon>
          <span class="editor-toolbar__save-indicator-text">Saved</span>
        </span>
      </ng-container>
    </div>
  </div>

  <div class="editor-toolbar__group editor-toolbar__group--widgets">
    <button 
      type="button" 
      class="editor-toolbar__icon-button"
      (click)="addWidget('text')"
      title="Add Text Widget"
    >
      <app-icon name="text_fields" [size]="24"></app-icon>
    </button>
    <button
      type="button"
      class="editor-toolbar__icon-button"
      (click)="addWidget('editastra')"
      title="Add Editastra Widget (temporary)"
    >
      <app-icon name="edit_note" [size]="24"></app-icon>
    </button>
    <app-chart-widget-selector (actionSelected)="onChartWidgetAction($event)"></app-chart-widget-selector>
    <button 
      type="button" 
      class="editor-toolbar__icon-button"
      (click)="addWidget('image')"
      title="Add Image Widget"
    >
      <app-icon name="image" [size]="24"></app-icon>
    </button>
    <app-table-grid-selector
      (tableInsert)="onTableInsert($event)"
      (excelImport)="onTableImportExcel($event)"
      (urlImport)="onTableImportUrl($event)"
      [importInProgress]="tableImportInProgress()"
      [importError]="tableImportError()"
    ></app-table-grid-selector>
  </div>

  <app-undo-redo-controls></app-undo-redo-controls>

  <div class="editor-toolbar__group">
    <app-zoom-controls></app-zoom-controls>
  </div>

  <div class="editor-toolbar__group editor-toolbar__group--export">
    <button
      type="button"
      class="editor-toolbar__icon-button editor-toolbar__icon-button--export"
      (click)="exportDocument()"
      title="Export document as JSON file"
      [disabled]="remoteLoadCount() > 0"
    >
      <app-icon name="download" [size]="24"></app-icon>
    </button>
    <button
      type="button"
      class="editor-toolbar__icon-button editor-toolbar__icon-button--import"
      (click)="triggerImport()"
      title="Import document from JSON file"
    >
      <app-icon name="upload" [size]="24"></app-icon>
    </button>
    <button
      type="button"
      class="editor-toolbar__icon-button"
      (click)="downloadPDF()"
      title="Download document as PDF"
      [disabled]="remoteLoadCount() > 0"
    >
      <app-icon name="picture_as_pdf" [size]="24"></app-icon>
    </button>
  </div>
</div>


