<div class="editor-shell">
  <header class="editor-shell__toolbar">
    <app-editor-toolbar></app-editor-toolbar>
  </header>

  <div class="editor-shell__rich-text-toolbar">
    <app-rich-text-toolbar></app-rich-text-toolbar>
  </div>

  <div class="editor-shell__body">
    <aside class="editor-shell__sidebar">
      <app-editor-breadcrumb></app-editor-breadcrumb>
      <app-page-outline></app-page-outline>
    </aside>

    <main class="editor-shell__canvas">
      <app-page-canvas></app-page-canvas>
    </main>
  </div>
</div>

