:host {
  display: block;
  position: fixed;
  right: 0;
  // Widget toolbar is now an overlay, so we only account for main toolbar height
  top: var(--editor-toolbar-height, 64px);
  height: calc(100vh - var(--editor-toolbar-height, 64px));
  width: var(--editor-rail-width, 22px);
  pointer-events: auto;
}


