<div class="ribbon-toolbar">
  <div class="ribbon-toolbar__top">
    <div class="ribbon-toolbar__tabs" role="tablist" aria-label="Editor ribbon tabs">
      <button
        *ngFor="let tab of tabs()"
        type="button"
        class="ribbon-toolbar__tab"
        [class.ribbon-toolbar__tab--active]="isTabActive(tab.id)"
        [class.ribbon-toolbar__tab--context]="tab.isContext"
        role="tab"
        [attr.aria-selected]="isTabActive(tab.id)"
        [attr.aria-label]="tab.label"
        (click)="setActiveTab(tab.id)"
      >
        <app-icon [name]="tabIcon(tab.id)" [size]="14" class="ribbon-toolbar__tab-icon"></app-icon>
        <span class="ribbon-toolbar__tab-label">{{ tab.label }}</span>
      </button>
    </div>
    <div class="ribbon-toolbar__menu">
      <app-editor-toolbar></app-editor-toolbar>
    </div>
  </div>

  <div class="ribbon-toolbar__panel">
    <ng-container *ngIf="activeTab() === 'design'">
      <div class="ribbon-toolbar__panel-inner ribbon-toolbar__panel-inner--design">
        <div class="ribbon-toolbar__design-group ribbon-toolbar__design-group--action">
          <button
            type="button"
            class="ribbon-toolbar__design-action"
            [disabled]="documentLocked()"
            (click)="openDesignDialog()"
          >
            <span class="ribbon-toolbar__design-action-prefix" aria-hidden="true">
              <app-icon name="design_themes_svgrepo" [size]="15" class="ribbon-toolbar__design-action-icon"></app-icon>
            </span>
            <span class="ribbon-toolbar__design-action-label">Design Themes</span>
          </button>
        </div>

        <div class="ribbon-toolbar__design-group ribbon-toolbar__design-group--action">
          <button
            type="button"
            class="ribbon-toolbar__design-action ribbon-toolbar__design-action--primary"
            [disabled]="documentLocked()"
            (click)="openQuickAddDialog()"
          >
            <span class="ribbon-toolbar__design-action-prefix" aria-hidden="true">
              <app-icon name="quick_add_svgrepo" [size]="15" class="ribbon-toolbar__design-action-icon"></app-icon>
            </span>
            <span class="ribbon-toolbar__design-action-label">Add Layout</span>
          </button>
        </div>

      </div>
    </ng-container>

    <ng-container *ngIf="activeTab() === 'insert'">
      <div class="ribbon-toolbar__panel-inner ribbon-toolbar__panel-inner--insert">
        <app-editor-toolbar></app-editor-toolbar>
      </div>
    </ng-container>

    <ng-container *ngIf="activeTab() === 'context'">
      <div class="ribbon-toolbar__panel-inner ribbon-toolbar__panel-inner--context">
        <app-widget-toolbar class="ribbon-toolbar__widget-toolbar"></app-widget-toolbar>
        <div class="ribbon-toolbar__empty" *ngIf="!hasContextTab()">
          Select a single widget to format.
        </div>
      </div>
    </ng-container>
  </div>
</div>

<app-modal
  [open]="designDialogOpen()"
  (openChange)="designDialogOpen.set($event)"
  size="xl"
  [closeOnBackdrop]="true"
  [closeOnEsc]="true"
  [showFooter]="false"
>
  <ng-container appModalHeader>
    <h2 class="ribbon-toolbar__dialog-title">Choose a Design Theme</h2>
  </ng-container>

  <ng-container appModalBody>
    <div class="ribbon-toolbar__dialog-body">
      <app-slide-theme-selector
        mode="pick"
        (themeSelected)="onThemePicked($event)"
        (variantSelected)="onVariantPicked()"
      ></app-slide-theme-selector>
    </div>
  </ng-container>
</app-modal>

<app-modal
  [open]="quickAddDialogOpen()"
  (openChange)="quickAddDialogOpen.set($event)"
  size="xl"
  [closeOnBackdrop]="true"
  [closeOnEsc]="true"
  [showFooter]="false"
>
  <ng-container appModalHeader>
    <h2 class="ribbon-toolbar__dialog-title">Add Layout</h2>
  </ng-container>

  <ng-container appModalBody>
    <div class="ribbon-toolbar__dialog-body">
      <app-slide-layout-selector
        mode="pick"
        [selectedLayout]="dialogSelectedLayout()"
        (layoutSelected)="pickDialogLayout($event)"
      ></app-slide-layout-selector>
    </div>
  </ng-container>
</app-modal>
