<!-- Only render if we have widget data -->
<ng-container *ngIf="displayWidget() as widget">
  <div
    class="widget-container"
    [class.widget-container--selected]="isSelected"
    [attr.data-widget-id]="widgetId"
    cdkDrag
    [cdkDragConstrainPosition]="constrainDragPosition"
    [cdkDragDisabled]="isEditing || isResizing"
    (cdkDragStarted)="onDragStarted($event)"
    (cdkDragMoved)="onDragMoved($event)"
    (cdkDragEnded)="onDragEnded($event)"
    (pointerdown)="onWidgetPointerDown()"
    [style.left.px]="frame.x"
    [style.top.px]="frame.y"
    [style.width.px]="frame.width"
    [style.height.px]="frame.height"
    [style.zIndex]="calculatedZIndex"
  >
    <!-- Border drag handles - only these areas allow dragging -->
    <div 
      class="widget-container__drag-handle widget-container__drag-handle--top" 
      cdkDragHandle
      (pointerdown)="onDragHandlePointerDown($event)"
    ></div>
    <div 
      class="widget-container__drag-handle widget-container__drag-handle--bottom" 
      cdkDragHandle
      (pointerdown)="onDragHandlePointerDown($event)"
    ></div>
    <div 
      class="widget-container__drag-handle widget-container__drag-handle--left" 
      cdkDragHandle
      (pointerdown)="onDragHandlePointerDown($event)"
    ></div>
    <div 
      class="widget-container__drag-handle widget-container__drag-handle--right" 
      cdkDragHandle
      (pointerdown)="onDragHandlePointerDown($event)"
    ></div>

    <!-- Widget content - not draggable -->
    <div class="widget-container__content">
      <ng-container [ngSwitch]="widget.type">
        <app-text-widget
          *ngSwitchCase="'text'"
          [widget]="$any(widget)"
          (editingChange)="onEditingChange($event)"
          (propsChange)="onContentChange($event)"
        ></app-text-widget>

        <app-chart-widget
          *ngSwitchCase="'chart'"
          [widget]="$any(widget)"
          [subsectionId]="subsectionId"
          [pageId]="pageId"
          (chartPropsChange)="onChartPropsChange($event)"
        ></app-chart-widget>

        <app-image-widget
          *ngSwitchCase="'image'"
          [widget]="$any(widget)"
          (propsChange)="onContentChange($event)"
        ></app-image-widget>

        <app-table-widget
          *ngSwitchCase="'table'"
          [widget]="$any(widget)"
          (editingChange)="onEditingChange($event)"
          (propsChange)="onContentChange($event)"
        ></app-table-widget>

        <app-editastra-widget
          *ngSwitchCase="'editastra'"
          [widget]="$any(widget)"
          (editingChange)="onEditingChange($event)"
          (propsChange)="onContentChange($event)"
        ></app-editastra-widget>

        <div *ngSwitchDefault class="widget-container__placeholder">
          {{ widget.type }} widget
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="isSelected">
      <button
        class="widget-container__resize widget-container__resize--right"
        type="button"
        (pointerdown)="onResizePointerDown($event, 'right')"
      ></button>
      <button
        class="widget-container__resize widget-container__resize--bottom"
        type="button"
        (pointerdown)="onResizePointerDown($event, 'bottom')"
      ></button>
      <button
        class="widget-container__resize widget-container__resize--corner"
        type="button"
        (pointerdown)="onResizePointerDown($event, 'corner')"
        title="Resize (bottom-right)"
      ></button>
      <button
        class="widget-container__resize widget-container__resize--corner-top-right"
        type="button"
        (pointerdown)="onResizePointerDown($event, 'corner-top-right')"
        title="Resize (top-right)"
      ></button>
      <button
        class="widget-container__resize widget-container__resize--corner-top-left"
        type="button"
        (pointerdown)="onResizePointerDown($event, 'corner-top-left')"
        title="Resize (top-left)"
      ></button>
      <button
        class="widget-container__resize widget-container__resize--corner-bottom-left"
        type="button"
        (pointerdown)="onResizePointerDown($event, 'corner-bottom-left')"
        title="Resize (bottom-left)"
      ></button>
      <button
        class="widget-container__resize widget-container__resize--left"
        type="button"
        (pointerdown)="onResizePointerDown($event, 'left')"
      ></button>
      <button
        class="widget-container__resize widget-container__resize--top"
        type="button"
        (pointerdown)="onResizePointerDown($event, 'top')"
      ></button>
    </ng-container>

    <button
      class="widget-container__delete"
      type="button"
      (mousedown)="onDeleteClick($event)"
      (pointerdown)="onDeleteClick($event)"
      title="Delete widget"
      aria-label="Delete widget"
    >
      <app-icon name="trash" [size]="16"></app-icon>
    </button>
  </div>
</ng-container>
