<div
  class="widget-container"
  [attr.data-widget-id]="widget.id"
  cdkDrag
  [cdkDragDisabled]="isEditing || isResizing"
  (cdkDragEnded)="onDragEnded($event)"
  (pointerdown)="onWidgetPointerDown()"
  [style.left.px]="frame.x"
  [style.top.px]="frame.y"
  [style.width.px]="frame.width"
  [style.height.px]="frame.height"
  [style.zIndex]="calculatedZIndex"
>
  <ng-container [ngSwitch]="widget.type">
    <app-text-widget
      *ngSwitchCase="'text'"
      [widget]="widget"
      (editingChange)="onEditingChange($event)"
      (propsChange)="onContentChange($event)"
    ></app-text-widget>

    <app-chart-widget
      *ngSwitchCase="'chart'"
      [widget]="widget"
      (chartPropsChange)="onChartPropsChange($event)"
    ></app-chart-widget>

    <app-table-widget
      *ngSwitchCase="'table'"
      [widget]="widget"
      (tablePropsChange)="onTablePropsChange($event)"
    ></app-table-widget>

    <app-image-widget
      *ngSwitchCase="'image'"
      [widget]="widget"
    ></app-image-widget>

    <div *ngSwitchDefault class="widget-container__placeholder">
      {{ widget.type }} widget
    </div>
  </ng-container>

  <ng-container *ngIf="isSelected">
    <button
      class="widget-container__resize widget-container__resize--right"
      type="button"
      (pointerdown)="onResizePointerDown($event, 'right')"
    ></button>
    <button
      class="widget-container__resize widget-container__resize--bottom"
      type="button"
      (pointerdown)="onResizePointerDown($event, 'bottom')"
    ></button>
    <button
      class="widget-container__resize widget-container__resize--corner"
      type="button"
      (pointerdown)="onResizePointerDown($event, 'corner')"
      title="Resize (bottom-right)"
    ></button>
    <button
      class="widget-container__resize widget-container__resize--corner-top-right"
      type="button"
      (pointerdown)="onResizePointerDown($event, 'corner-top-right')"
      title="Resize (top-right)"
    ></button>
    <button
      class="widget-container__resize widget-container__resize--corner-top-left"
      type="button"
      (pointerdown)="onResizePointerDown($event, 'corner-top-left')"
      title="Resize (top-left)"
    ></button>
    <button
      class="widget-container__resize widget-container__resize--corner-bottom-left"
      type="button"
      (pointerdown)="onResizePointerDown($event, 'corner-bottom-left')"
      title="Resize (bottom-left)"
    ></button>
    <button
      class="widget-container__resize widget-container__resize--left"
      type="button"
      (pointerdown)="onResizePointerDown($event, 'left')"
    ></button>
    <button
      class="widget-container__resize widget-container__resize--top"
      type="button"
      (pointerdown)="onResizePointerDown($event, 'top')"
    ></button>
  </ng-container>

  <button
    class="widget-container__delete"
    type="button"
    (mousedown)="onDeleteClick($event)"
    (pointerdown)="onDeleteClick($event)"
    title="Delete widget"
    aria-label="Delete widget"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      pointer-events="none"
    >
      <path d="M3 6h18"></path>
      <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
      <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
    </svg>
  </button>
</div>

