<!-- Only render if we have widget data -->
<ng-container *ngIf="displayWidget() as widget">
  <div
    class="widget-container"
    [class.widget-container--selected]="isSelected"
    [class.widget-container--resizing]="isResizing"
    [class.widget-container--rotating]="isRotating"
    [class.widget-container--no-border]="!showSelectionBorder"
    [class.widget-container--connector]="widget.type === 'connector'"
    [attr.data-widget-id]="widgetId"
    [attr.data-widget-type]="widget.type"
    cdkDrag
    [cdkDragConstrainPosition]="constrainDragPosition"
    [cdkDragDisabled]="isEditing || isResizing || isRotating || isDocumentLocked || widget.type === 'connector'"
    (cdkDragStarted)="onDragStarted($event)"
    (cdkDragMoved)="onDragMoved($event)"
    (cdkDragEnded)="onDragEnded($event)"
    (pointerdown)="onWidgetPointerDown($event)"
    (contextmenu)="onWidgetContextMenu($event)"
    [style.left.px]="renderFrame.x"
    [style.top.px]="renderFrame.y"
    [style.width.px]="renderFrame.width"
    [style.height.px]="renderFrame.height"
    [style.zIndex]="calculatedZIndex"
    [style.transform]="rotationTransform"
  >
    <!-- For straight connector widgets, allow dragging by clicking anywhere (PPT-like). -->
    <div
      *ngIf="dragAnywhereEnabled"
      class="widget-container__drag-anywhere"
      cdkDragHandle
      (pointerdown)="onDragHandlePointerDown($event)"
    ></div>

    <!-- Border drag handles - used by normal widgets only.
         Connectors use stroke-hit gating in `constrainDragPosition` instead. -->
    <ng-container *ngIf="!isConnectorWidget">
      <div 
        class="widget-container__drag-handle widget-container__drag-handle--top" 
        cdkDragHandle
        (pointerdown)="onDragHandlePointerDown($event)"
      ></div>
      <div 
        class="widget-container__drag-handle widget-container__drag-handle--bottom" 
        cdkDragHandle
        (pointerdown)="onDragHandlePointerDown($event)"
      ></div>
      <div 
        class="widget-container__drag-handle widget-container__drag-handle--left" 
        cdkDragHandle
        (pointerdown)="onDragHandlePointerDown($event)"
      ></div>
      <div 
        class="widget-container__drag-handle widget-container__drag-handle--right" 
        cdkDragHandle
        (pointerdown)="onDragHandlePointerDown($event)"
      ></div>
    </ng-container>

    <!-- Widget content - not draggable -->
    <div class="widget-container__content">
      <ng-container [ngSwitch]="widget.type">
        <app-chart-widget
          *ngSwitchCase="'chart'"
          [widget]="$any(widget)"
          [subsectionId]="subsectionId"
          [pageId]="pageId"
          (chartPropsChange)="onChartPropsChange($event)"
        ></app-chart-widget>

        <app-image-widget
          *ngSwitchCase="'image'"
          [widget]="$any(widget)"
          (propsChange)="onContentChange($event)"
        ></app-image-widget>

        <app-table-widget
          *ngSwitchCase="'table'"
          [widget]="$any(widget)"
          (editingChange)="onEditingChange($event)"
          (propsChange)="onContentChange($event)"
        ></app-table-widget>

        <app-editastra-widget
          *ngSwitchCase="'editastra'"
          [widget]="$any(widget)"
          (editingChange)="onEditingChange($event)"
          (propsChange)="onContentChange($event)"
        ></app-editastra-widget>

        <app-object-widget
          *ngSwitchCase="'object'"
          [widget]="$any(widget)"
          (editingChange)="onEditingChange($event)"
          (propsChange)="onContentChange($event)"
        ></app-object-widget>

        <app-connector-widget
          *ngSwitchCase="'connector'"
          [widget]="$any(connectorRenderWidget() ?? widget)"
          (propsChange)="onContentChange($event)"
          (strokePointerDown)="onConnectorStrokePointerDown($event)"
        ></app-connector-widget>

        <div *ngSwitchDefault class="widget-container__placeholder">
          {{ widget.type }} widget
        </div>
      </ng-container>
    </div>

    <!-- Connector endpoint handles - rendered ABOVE drag layer -->
    <ng-container *ngIf="isSelected && !isDocumentLocked && widget.type === 'connector'">
      <!-- Start endpoint handle -->
      <div
        class="widget-container__connector-endpoint widget-container__connector-endpoint--start"
        [style.left.px]="connectorStartPoint?.x"
        [style.top.px]="connectorStartPoint?.y"
        (pointerdown)="onConnectorEndpointPointerDown($event, 'start')"
        title="Drag to move start point"
      ></div>

      <!-- End endpoint handle -->
      <div
        class="widget-container__connector-endpoint widget-container__connector-endpoint--end"
        [style.left.px]="connectorEndPoint?.x"
        [style.top.px]="connectorEndPoint?.y"
        (pointerdown)="onConnectorEndpointPointerDown($event, 'end')"
        title="Drag to move end point"
      ></div>

      <!-- Midpoint handle (always on the curve - for all non-elbow connectors) -->
      <div
        *ngIf="connectorMidpointHandle"
        class="widget-container__connector-endpoint widget-container__connector-endpoint--control"
        [style.left.px]="connectorMidpointHandle.x"
        [style.top.px]="connectorMidpointHandle.y"
        (pointerdown)="onConnectorEndpointPointerDown($event, 'control')"
        title="Drag to bend the line"
      ></div>
    </ng-container>

    <ng-container *ngIf="isSelected && !isDocumentLocked">
      <button
        *ngIf="isResizeHandleVisible('right')"
        class="widget-container__resize widget-container__resize--right"
        type="button"
        [style.cursor]="getResizeCursor('right')"
        (pointerdown)="onResizePointerDown($event, 'right')"
      ></button>
      <button
        *ngIf="isResizeHandleVisible('bottom')"
        class="widget-container__resize widget-container__resize--bottom"
        type="button"
        [style.cursor]="getResizeCursor('bottom')"
        (pointerdown)="onResizePointerDown($event, 'bottom')"
      ></button>
      <button
        *ngIf="isResizeHandleVisible('corner')"
        class="widget-container__resize widget-container__resize--corner"
        type="button"
        [style.cursor]="getResizeCursor('corner')"
        (pointerdown)="onResizePointerDown($event, 'corner')"
        title="Resize (bottom-right)"
      ></button>
      <button
        *ngIf="isResizeHandleVisible('corner-top-right')"
        class="widget-container__resize widget-container__resize--corner-top-right"
        type="button"
        [style.cursor]="getResizeCursor('corner-top-right')"
        (pointerdown)="onResizePointerDown($event, 'corner-top-right')"
        title="Resize (top-right)"
      ></button>
      <button
        *ngIf="isResizeHandleVisible('corner-top-left')"
        class="widget-container__resize widget-container__resize--corner-top-left"
        type="button"
        [style.cursor]="getResizeCursor('corner-top-left')"
        (pointerdown)="onResizePointerDown($event, 'corner-top-left')"
        title="Resize (top-left)"
      ></button>
      <button
        *ngIf="isResizeHandleVisible('corner-bottom-left')"
        class="widget-container__resize widget-container__resize--corner-bottom-left"
        type="button"
        [style.cursor]="getResizeCursor('corner-bottom-left')"
        (pointerdown)="onResizePointerDown($event, 'corner-bottom-left')"
        title="Resize (bottom-left)"
      ></button>
      <button
        *ngIf="isResizeHandleVisible('left')"
        class="widget-container__resize widget-container__resize--left"
        type="button"
        [style.cursor]="getResizeCursor('left')"
        (pointerdown)="onResizePointerDown($event, 'left')"
      ></button>
      <button
        *ngIf="isResizeHandleVisible('top')"
        class="widget-container__resize widget-container__resize--top"
        type="button"
        [style.cursor]="getResizeCursor('top')"
        (pointerdown)="onResizePointerDown($event, 'top')"
      ></button>

      <!-- Rotation handle - only for object widgets -->
      <button
        *ngIf="widget.type === 'object'"
        class="widget-container__rotate"
        type="button"
        (pointerdown)="onRotatePointerDown($event)"
        title="Rotate shape"
        aria-label="Rotate shape"
      >
        <app-icon name="rotate" [size]="12"></app-icon>
      </button>
    </ng-container>

    <app-context-menu
      [open]="contextMenuOpen"
      [x]="contextMenuX"
      [y]="contextMenuY"
      [items]="contextMenuItems"
      (openChange)="contextMenuOpen = $event"
      (itemSelected)="onContextMenuItemSelected($event)"
    ></app-context-menu>

    <!-- Anchor points for connector attachment (shown when dragging connector endpoints) -->
    <ng-container *ngIf="showAnchorPoints">
      <div
        *ngFor="let anchor of anchorPoints"
        class="widget-container__anchor-point"
        [class.widget-container__anchor-point--highlight]="anchor.isNearby"
        [style.left.%]="anchor.xPercent"
        [style.top.%]="anchor.yPercent"
        [attr.data-anchor]="anchor.position"
      ></div>
    </ng-container>
  </div>

  <!-- Ghost resize outline (cursor-following preview) -->
  <div
    *ngIf="ghostFrame as gf"
    class="widget-container__resize-ghost"
    aria-hidden="true"
    [style.left.px]="gf.x"
    [style.top.px]="gf.y"
    [style.width.px]="gf.width"
    [style.height.px]="gf.height"
    [style.zIndex]="calculatedZIndex + 50"
    [style.transform]="rotationTransform"
    [style.transform-origin]="'center center'"
  ></div>
</ng-container>
