<div #dialogContainer class="table-grid-selection-dialog">
  <div class="table-grid-selection-dialog__overlay" (click)="closeDialog($event)"></div>
  <div class="table-grid-selection-dialog__content" (click)="$event.stopPropagation()">
    <div class="table-grid-selection-dialog__header">
      <h3 class="table-grid-selection-dialog__title">Insert Table</h3>
      <button
        type="button"
        class="table-grid-selection-dialog__close"
        (click)="cancel()"
        aria-label="Close"
      >
        ×
      </button>
    </div>
    
    <div class="table-grid-selection-dialog__body">
      <div class="table-grid-selection-dialog__grid">
        <div
          *ngFor="let i of rowsArray"
          class="table-grid-selection-dialog__row"
        >
          <div
            *ngFor="let j of columnsArray"
            class="table-grid-selection-dialog__cell"
            [class.table-grid-selection-dialog__cell--selected]="i < selectedRows && j < selectedColumns"
            (mouseenter)="onCellHover(i, j)"
            (click)="onCellClick(i, j)"
          ></div>
        </div>
      </div>
      
      <div class="table-grid-selection-dialog__preview">
        {{ selectedRows }} × {{ selectedColumns }} Table
      </div>
    </div>
  </div>
</div>

