.image-widget {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  background: #e2e8f0;
}

.image-widget img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

